DB_SERVER=travel-planner-sql.database.windows.net
DB_USER=sqladmin
DB_PASSWORD=Maluna51403739#??
DB_NAME=TravelPlannerDB
DB_PORT=1433
PORT=5000
NODE_ENV=production
ALLOWED_ORIGIN=https://black-stone-0b4d6e810.7.azurestaticapps.net
